.pane {

  gap: 25px;

  .first {
    img {
      object-fit: cover;
      width: 150px;
      height: 150px;
    }
  }

  .second {
    gap: 10px;

    .row-heading {
      display: flex;
      align-items: center;
      
      span {
        background-color: blue;
        color: white;
        margin-right: 25px;
        padding: 1px 2.5px;
        border-radius: 2.5px;
      }
    }

    .row-button {
      margin-top: auto;
      margin-bottom: 10px;

      button {
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
      }

      .reserve {
        background-color: blue;
        color: white;
        border: none;
      }

      .cancel {
        background-color: white;
        color: black;
        border: 1px solid black;
      }
    }
  }
}