@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Oswald', sans-serif;
  overflow-y: scroll;
  padding-left: 25px;
  padding-right: 25px;
}

main {
  margin-top: 25px;
  margin-bottom: 25px;
}