@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

.container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.cross-center {
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.header {
  padding: 2em 0;
  border: 1px solid black;
  margin-bottom: 3rem;
  font-family: "Oswald", sans-serif;
}

.nav-bar {
  letter-spacing: 2px;
}

.nav-link:link,
.nav-link:visited {
  color: black;
}

.logo {
  width: 20%;
}

.active {
  color: red;
}

.missions-section {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 6rem;
}
.missions-section .mission-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #c7c7c7;
}
.missions-section .mission-table thead tr {
  text-align: left;
}
.missions-section .mission-table thead tr th {
  padding: 0.5rem;
  border: 1px solid #c7c7c7;
}
.missions-section .mission-table tbody tr {
  text-align: left;
}
.missions-section .mission-table tbody tr td {
  padding: 1rem;
  border: 1px solid #c7c7c7;
}
.missions-section .mission-table tbody tr td:last-child {
  width: 15%;
  text-align: center;
}
.missions-section .mission-table tbody tr td:nth-child(3) {
  text-align: center;
  width: 15%;
}
.missions-section .mission-table tbody tr td span {
  padding: 0.3rem;
  background-color: #6d757d;
  border-radius: 0.4rem;
  color: #fff;
  font-size: 0.9rem;
}
.missions-section .mission-table tbody tr td button {
  border: 1px solid #6d757d;
  color: #6d757d;
  font-size: 0.8rem;
  padding: 0.3rem 0.6rem;
}
.missions-section .mission-table tbody tr:nth-child(2n+1) {
  background-color: #f2f2f2;
}

.App {
  width: 100%;
}